@tailwind base;
@tailwind components;
@tailwind utilities;
   /*alpine*/
   [x-cloak] { display: none !important; }

   @layer base {
       @font-face {
           font-family: ybakh;
           src: url(../../Fonts/YekanBakhRegular.ttf);
       }
   
       @font-face {
           font-family: ybakhfat;
           src: url(../../Fonts/YekanBakh-Fat.ttf);
       }
   
       @font-face {
           font-family: ybakhbold;
           src: url(../../Fonts/YekanBakh-Bold.ttf);
       }
       @font-face {
         font-family:vazir;
         src: url(../../Fonts/Vazirmatn-Bold.ttf);
     } 
   
    
   }
   /*course-table*/
   td{
    text-align: center;
   }
   /*sweet-alert*/
.swal-modal{
    font-family: ybakhbold;
  background-color: #32334d;
  }
  .swal-icon--success{
    border-width: 0px !important;
  }
  .swal-button {
  
  box-shadow: none !important;
  }
  .swal-icon--success::before,.swal-icon--success::after{
    background-color: #32334d;
  }
  .swal-icon--success__hide-corners{
    background-color: #32334d;
  }
  .swal-icon--success__ring{
    border: 6px solid green;
  }
  .swal-icon--success__line{
    background-color: green;
  }
  .swal-footer{
    display: flex;
    justify-content: center;
  }
  .swal-title{
    color: white;
  }
  .swal-button{
    background-color: #fc4801;
  }
  .swal-button:hover{
    background-color: #cf3f06 !important;
  }
  .swal-button--cancel{
    color: white;
  }
  /*login-form*/
  
  
  .login-form {
   
    background-color: rgba(255, 255, 255, 0.13);
   
  }